/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Sayfa arka planı */
body.page {
  background-image: url("../images/background.png");
  font-family: "Inter", sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
}


/* HEADER — Figma: 700×368 */
.header {
  width: 696px;
  height: 368px;
  background: white;
  border: 2px solid black;
  margin: 100px auto;   /* Ortala + yukarıdan 100px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Press Start 2P", sans-serif;
  gap: 20px;
}

.title {
  font-size: 65px;
  font-weight: 400;
  line-height: 100%;
}

.description {
  font-size: 23px;
  font-weight: 400;
  line-height: 100%;
}
.first-pic {
  width: 696px;
  position: relative;
  margin: 100px auto;
  align-items: center;
  justify-content: center;
}

.title-box {
  width: 696px;
  height: 33px;
  padding: 5px 10px;
  background-color: white;
  position: relative;
  border: 2px solid black;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}
.title-box__inner {
  width: 696px;
  height: 31px;
  position: absolute;
  padding: 3px 24px 3px 10px;
}
.title-box__text {
  width: 662px;
  height:25px;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
}
.post-image {
  position: relative;
}
.post-image img {
width: 696px;
height: 696px;
border: 2px solid black;
display: flex;
}
.html {
position: absolute;
opacity: 0.5;
top: 25px;
right: 25px;
font-family: "Press Start 2P", sans-serif;
font-weight: 400;
-webkit-text-stroke: 1px white;
}

.content {
  position: relative;
  width: 696px;
  border: 2px solid black;
  background-color: white;
  margin-top: 0px; 
  padding-bottom: 84px;
}
.second-content-text-box {
  margin-top: 25px;
  margin-left:auto;
  margin-right:auto;

  width: 646px;
}
.text1 {
  font-weight: 400px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.text2 {

  font-weight: 400px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  margin-top: 27px;
}
.card__icon-button {
  position: absolute;
  bottom:25px;
  right: 25px;
  gap: 12px;
  display: flex;
  align-items: center; 
}
.card__like-button {
  height: 38px;
  width: 130px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Press Start 2P", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.like-icon img {
  width: 27px;
  height: 24px;
  image-rendering: pixelated;
  border: none;
}
.second-content {
  position: relative;
  width: 696px;
  border: 2px solid black;
  background-color: white;
  margin-top: 0px; 
  padding-bottom: 88px;
}
.save {
  width: 335px;
  height: 51px;
  border: 2px solid black;
  display: flex;       
  align-items: center;   
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}
.book {
  margin-left: 19px;
}
.end {
  margin-left: 8px;
  font-weight: 400;
  font-family: "Press Start 2P", sans-serif;
  font-size: 14px;
}